body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #616368;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.h-90 {
    height: 90px;
}

.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0;
    text-decoration: none;
    font-weight: 700 !important;
    padding: 22px 40px;
    border-radius: 50px;
    transition: 300ms ease;
}

.btn-blue {
    background-color: #2500f9;
    color: #fff !important;
}

.btn-blue:hover {
    background-color: #5262f1;
}

.btn-white {
    color: #2500f9;
    background-color: #fff;
}

.btn-white:hover {
    background-color: #ececec;
}

.badge {
    background-color: #e2eaed;
    display: inline-block;
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: #242f51;
}

.badge>.badge-icon {
    background-color: #feaa25;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.badge>.badge-text {
    padding: 0 30px 0 10px;
}

h1 {
    color: #242f51;
    font-size: 60px;
    line-height: 1.25em;
    margin: .33em 0;
}

.lead {
    font-size: 18px;
}

/*HEADER*/
.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
    z-index: 9999;
}

.header .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-navbar .header-navbar__logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #242f51;
    user-select: none;
}

.header .header-navbar .header-navbar__logo span {
    color: #fcae61;
}

.header .header-navbar .header-navbar__menu {
    display: flex;
    align-items: center;
}

.header .header-navbar .header-navbar__menu a {
    text-decoration: none;
    color: #242f51;
    font-weight: 500;
    margin-left: 35px;
    transition: 300ms ease;
}

.header .header-navbar .header-navbar__menu a:hover,
.header .header-navbar .header-navbar__menu a.active {
    color: #fcae61;
}

.header .header-navbar .header-navbar__menu a.btn-blue {
    margin-left: 55px;
}

#burger-menu {
    width: 64px;
    height: 64px;
    background-color: #1f6acc;
    position: relative;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    display: none;
    z-index: 9999;
}

#burger-menu span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 16px;
    transition: 200ms ease;
}

#burger-menu span:nth-child(1) {
    top: 20px;
}

#burger-menu span:nth-child(2) {
    top: 30px;
}

#burger-menu span:nth-child(3) {
    top: 40px;
}

#burger-menu.open span:nth-child(2) {
    transform: scaleX(0);
}

#burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 30px;
}

#burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 30px;
}

#shadow {
    display: none;
}

@media screen and (max-width: 1200px) {
    .h-90 {
        height: 45px;
    }
}

@media screen and (max-width: 991px) {
    .h-90 {
        height: 15px;
    }

    #burger-menu {
        display: block;
        z-index: 9999;
    }

    #shadow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 9998;
    }

    #shadow.open {
        display: block;
    }

    .header .header-navbar .header-navbar__menu {
        position: fixed;
        top: 0;
        left: -260px;
        width: 100%;
        max-width: 260px;
        height: 100vh;
        background-color: #fff;
        /* box-shadow: rgba(0,0,0,.3) 0 0 15px; */
        flex-direction: column;
        align-items: stretch;
        padding: 15px;
        box-sizing: border-box;
        transition: 300ms ease;
        z-index: 9999;
    }

    .header .header-navbar .header-navbar__menu a {
        padding: 15px;
    }

    .header .header-navbar .header-navbar__menu a,
    .header .header-navbar .header-navbar__menu a.btn-blue {
        margin-left: 0;
        margin-top: 10px;
    }

    .header .header-navbar .header-navbar__menu a.btn-blue {
        text-align: center;
        margin-top: 50px;
    }

    .header .header-navbar .header-navbar__menu.open {
        box-shadow: rgba(0, 0, 0, .3) 0 0 15px;
        left: 0;
    }
}

/* BEST APP SECTION */
.app-title {
    background-image: url(../images/bg1.png);
    background-repeat: repeat-x;
    background-position: bottom center;
}

.app-title .container {
    display: flex;
}

.app-title__right {
    padding: 30px;
}

.app-title__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
}

.app-title__left .buttons {
    margin-top: 1em;
}

@media screen and (max-width: 991px) {
    .app-title__right {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    .app-title__left {
        padding: 15px 30px;
    }
}

@media screen and (max-width: 519px) {
    h1 {
        font-size: 30px;
    }

    .app-title__left {
        padding: 15px 0;
    }
}

.companies-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compaines__text {
    color: #242f51;
    font-weight: 300;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

.compaines__text>p {
    font-weight: 400;
}

.companies__logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.companies__logo>img {
    padding: 30px;
}

.features-left__img {
    width: 610px;
    height: 770px;
    position: relative;
}

.features_left {
    display: block;
    width: 600px;
    flex-grow: 1;
}

.features-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features_right {
    flex-grow: 1;
}

.img_2 {
    position: absolute;
    top: 0;

    transition: ease 1500ms;
    opacity: 0;
    transform: scale(0.9);
}

.img_2:hover {
    position: absolute;
    top: 0;
    transform: scale(0.9);
    opacity: 1;
}

.img_1 {
    margin-left: 0;
    position: absolute;
    top: 0;
    transform: scale(0.9);
}

.features-left__img {
    display: flex;
    justify-content: flex-end;
}

.features_right {
    display: flex;
    flex-direction: column;
}

.features-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.features-box2__text,
.features-box1__text,
.features-box3__text {
    margin-left: 30px;
    max-width: 300px;
}

.features_h2>h2 {
    color: #242f51;
}

.features_h2 {
    margin-bottom: 60px;
}

.w-285 {
    max-width: 285px;
}

.w-280 {
    max-width: 280px;
}

.red {
    color: #f55767;
}

.blue {
    color: #2563ff;
}

.green {
    color: #40975f;
}

.mar-0 {
    margin: 10px 0;
}

.features {
    margin-top: 100px;
}

@media screen and (max-width: 991px) {
    .features_left {
        display: none;
    }

    .companies__logo {
        flex-wrap: wrap;
    }

    .features_right {
        justify-content: center;
        align-items: center;
    }
}

.smart-jackpot {
    display: flex;
    flex-direction: column;
}

.px20 {
    font-size: 20px;
}

.px16 {
    font-size: 16px;
}

.smart-jackpot__up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smart-jackpot__up>.left {
    color: #242f51;
    max-width: 550px;
    padding: 70px;
    box-sizing: border-box;
    text-align: left;
    font-size: 40pt;
}

.smart-jackpot__up>.right {
    color: #242f51;
    max-width: 550px;
    padding: 50px 70px;
    box-sizing: border-box;
    text-align: left;
    font-weight: 400;
    border-left: 2px solid #b9b9b8;
}

.smart-jackpot>.smart-jackpot__down {
    display: flex;
    justify-content: space-between;
}

.jackpot__down__box {
    max-width: 260px;
    align-items: flex-start;
}

.jackpot__down__box>h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.jackpot__down__box>p {
    margin-top: 5px;
}

@media screen and (max-width: 991px) {
    .smart-jackpot__up {
        flex-direction: column;
    }

    .smart-jackpot__up>.right {
        color: #242f51;
        max-width: 550px;
        padding: 50px 70px;
        box-sizing: border-box;
        text-align: left;
        font-weight: 400;
        border-left: 0px solid #b9b9b8;
        border-top: 1px solid #b9b9b8;
    }

    .smart-jackpot__down {
        flex-wrap: wrap;
    }

    .smart-jackpot>.smart-jackpot__down {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .jackpot__down__box {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 580px) {

    .smart-jackpot__up>.left,
    .smart-jackpot__up>.right {
        padding: 15px;
    }

    .smart-jackpot__up>.left>h2 {
        font-size: 30pt;
    }
}

.designed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.designed-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    justify-content: space-between;
}

.designed-right h2 {
    font-size: 40px;
    font-weight: 600;
    color: #242f51;
    line-height: 50px;
}

.designed-right a {
    margin: 15px 0;
}

@media screen and (max-width: 991px) {
    .designed {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .designed-left {
        display: none;
    }
    .designed-right {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        max-width: 450px;
        justify-content: center;
    }
}

.whychoose h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #242f51;
    line-height: 50px;
    max-width: 500px;
    margin-bottom: 0;
}
.row {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
.align-сontent-center {
    align-content: center;
}
.max-700 {
    max-width: 700px;
}
.text-center {
    text-align: center;
}
.flex-column {
    flex-direction: column;
}
.grid-container {
    margin: 45px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "grid1 grid2 grid3"
        "grid4 grid5 grid6";
    gap: 50px;
    justify-items: center;
}
.grid-items {
    max-width: 300px;
}
.grid-items h3 {
    color: #242f51;
    margin-bottom: 0;
}
@media screen and (max-width: 991px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "grid1 grid2 "
            "grid3 grid4 "
            "grid5 grid6";
        gap: 25px;
    }
}
@media screen and (max-width: 616px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "grid1" 
            "grid2"
            "grid3"
            "grid4"
            "grid5" 
            "grid6";
        gap: 25px;
    }
}
h2, h3 {
    color: #242f51;
}
.ultimate h2 {
    margin-bottom: 0;
}
.ultimate h2, .ultimate p {
    max-width: 400px;
}
.designedby {
    padding-bottom: 60px;
    border-bottom: #f4f4f4 1px solid;
}
.ultimate {
    padding-bottom: 50px;
    background-image: url(../images/bultimate.png);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 130% ;
}
.ultimate .row {
    max-width: 600px;
}
.ultimate h3 {
    margin-bottom: 0;
}
.ultimate-grid {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "grid1 grid2"
        "grid3 grid4";
    gap: 50px 100px;
    max-width: 700px;
}
.btn-ulti {
    padding: 15px 60px;
}

@media screen and (max-width: 1616px) {
    .ultimate {
        background-image: none;
    }
    .ultimate .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ultimate h2, .ultimate p, .ultimate h3 {
        text-align: center;
    }
    .ultimate .flex-column {
        align-items: center;
    }
    .ultimate div {
        margin-bottom: 10px;
    }
    .ultimate-grid {
        max-width: auto;
    }
}
@media screen and (max-width: 616px) {
    .ultimate-grid {
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "grid1"
            "grid2"
            "grid3"
             "grid4";
        gap: 50px 100px;
        max-width: 700px;
    }
}
.getawe h2 {
    margin-bottom: 0;
}
.getawe p {
    max-width: 650px;
}
.getawe h2 {
    max-width: 600px;
}
/* switcher */
.switcher {
    display: flex;
    align-items: center;
}

.switcher>input {
    display: none;
}


.switcget  { 
    position: relative;
   
    display: flex;
    flex: row;
    align-items: center;
    padding: 1px;
    width: 276px;
    border-radius: 50px;
    border: solid 1px #e9e9e9;
    background-color: rgb(255, 255, 255);
    transition: 250ms ease;
    margin: 5px auto;
}
.switcher>input+div::before {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 2px;
    right: 1px;
    text-align: center;
    color: #fff;
    display: block;
    content: 'Monthly';
    padding: 15px 10px;
    width: 136px;
    border-radius: 500px;
    background-color: #2500f9;
    transition: 250ms ease;
    transform: translateX(0);
}
/*DEFAULT (GREEN)*/

.switcher>input:checked+div::before {
    background-color: #2500f9;
    transform: translateX(76%);
    content: 'Annually';
    color: #fff;
}
.switcget {
margin-top: 40px;
}
.switcget p {
    padding-left: 20px;
    padding-right: 90px;
    user-select: none;
}
/*  */
.getawe-box {
    border-radius: 10px;
    border: solid 2px #ebebeb;
    margin: 20px;
}
.getawe-box_top {
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8fa;
}
.getawe-box_top h3, .getawe-box_top p {
    padding: 2px;
    margin: 0;
}
.getawe-box_top div {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: baseline;
    align-content: flex-end;
    justify-content: center;
}
.getawe-box_top div h2, .getawe-box_top div p {
    margin: 0;
    padding: 0;
}
.getawe-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.getawe-bot a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}
.getawe-box .getlinks {
    padding-bottom: 0;
    text-decoration: none;
    color: #2500f9c0;
}
.getawe-box .getlinks:hover {
    color :#2500f9;
}
.getawe-box:hover {
    border-radius: 10px;
    border: none;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, .1) 0 35px 35px;
}
.brder-b {
    border-bottom: 1px solid #f4f4f4;
}
.meetclient {
    background-image: url(../images/meetclient_fone.png);
    background-repeat: no-repeat;
    background-position: 14% 190%;
}
.grow-1 {
    flex-basis: 50%;
}
.flex-row {
   flex-direction: row;
}
.meetclient h2{
    max-width: 450px;
    margin-bottom: 0;
}

.meetclient-text {
    max-width: 500px;
}
.meetclient .icon-star {
    color: #ffcc00;
    font-size: 20px;
}
.meetclient-fio p {
    padding-left: 30px;
    margin: 0;
    font-size: 18px;
}
.h4 {
    font-weight: 600;
    color: #242f51;
}
.meetclient-lr {
    margin-left: auto;
}
.meetclient-lr i {
    box-sizing: border-box;
    padding: 5px;
    border: #e0e3e7 1px solid;
    color: #e0e3e7;
    border-radius: 5000px;
    font-size: 30px;
}
.meetclient-lr div {
    padding-right: 10px;
    padding-left: 10px;
}
.meetclient-lr_l {
    border-right: solid 1px #e0e3e7;
}

.meetclient-lr i:hover {
    box-sizing: border-box;
    padding: 6px;
    background-color: #eff3f8;
    border: none;
    color: #2500f9;
    border-radius: 5000px;
    font-size: 30px;
}
.meetclient-client {
    padding-top: 3 0px;
}
.meetclient {
    position: relative;
}
.clien-pos1 {
    position: absolute;
    top: 370px;
    left: 220px;
}   
.clien-pos2 {
    position: absolute;
    top: 230px;
    left: 190px;
}  
.clien-pos3 {
    position: absolute;
    top: 140px;
    left: 420px;
}    
.clien-pos4 {
    position: absolute;
    top: 300px;
    left: 450px;
}   
.clien-pos5 {
    position: absolute;
    top: 500px;
    left: 380px;
} 
.clien-pos6 {
    position: absolute;
    top: 150px;
    left: 750px;
}         
.clien-pos7 {
    position: absolute;
    top: 390px;
    left: 640px;
}      
.askedquestions p{
    text-align: center;
    max-width: 650px;
}   
.askedquestions h2 {
    margin-bottom: 0;
}
/* акардион  */ 
.accordion {
    padding-top: 50px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.tab input, .tab-content { display: none; }
.tab {
   
    background-color: #f5f7fa;
 margin-bottom: 10px; /* Расстояние между пунктами */
}
.tab-title {
    font-size: 20px;
    color: #242f51;
 padding: 25px; /* Поля вокруг текста */
 display: block; /* Блочный элемент */
 font-weight: 600; /* Жирное начертание */
 cursor: pointer; /* Вид курсора */
}
.tab-title::after {
 content: '+'; /* Выводим плюс */
 float: right; /* Размещаем по правому краю */
}
.tab-content {
 padding: 25px 35px; /* Поля вокруг текста */
 padding-top: 0;
}
.tab :checked + .tab-title {

}
.tab :checked + .tab-title::after {
 content: ''; /* Выводим минус */
}
.tab :checked ~ .tab-content {
 display: block; /* Показываем содержимое */
}
/*  */
.startdays {
    background-image: url(../images/days.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.startdays h2 {
    padding-top: 100px;
    margin-bottom:0 ;
}
.startdays p {
    max-width: 650px;
    padding-bottom: 30px;
}
.startdays-market {
    padding-bottom:55px;
}
.startdays-market div{
    padding: 10px;
}
.startdays-blocks {
    height: 80px;
    background-color: #09142e;
    position: relative;
    z-index: -1;
}
.footer {
    background-color: #09142e;
}
.footer .footer__logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    user-select: none;
}
.footer .footer__logo span {
    color: #fcae61;
}
.footer .footer-navbar ul{
    list-style: none;
    padding-bottom: 20px;
}
.footer .footer-navbar a {
    padding: 5px 15px;
    text-decoration: none;
    color: #fff;
}
.footer-soccontact i{
    font-size: 30px;
}
.footer-soccontact a{
    color: #273043;
    
}
.footer-soccontact a:hover{
    color: #fff;
}
.footer__logo {
    padding-bottom: 20px;
}
.footer-soccontact {
    padding-bottom: 30px;
}